<div class="content" role="main">
  <section class="todoapp">
    <header class="header">
      <h1>{{title}}</h1>
      <input class="new-todo" placeholder="追加する ToDo を入力してください" autoFocus (keydown.enter)="addTodo(newTodo)"
        (blur)="addTodo(newTodo)" [(ngModel)]="newTodo">
    </header>
    <section class="main">
      <ul class="todo-list">
        <li *ngFor="let todo of filteredTodos()" [ngClass]="{'completed': todo.completed}">
          <div class="view">
            <label>
              <input class="toggle" type="checkbox" [(ngModel)]="todo.completed">
              {{todo.title}}
            </label>
            <button class="remove" (click)="removeTodo(todo)">削除</button>
          </div>
        </li>
      </ul>
    </section>
    <footer class="footer">
      <span class="todo-count"><strong>{{filteredTodos().length}}</strong> 件を表示</span>
      <label><input class="radio" name="filter" type="radio" value="all" [(ngModel)]="visibility"
          [checked]="visibility==='all'">すべて</label>
      <label><input class="radio" name="filter" type="radio" value="active" [(ngModel)]="visibility"
          [checked]="visibility==='active'">作業中</label>
      <label><input class="radio" name="filter" type="radio" value="completed" [(ngModel)]="visibility"
          [checked]="visibility==='completed'">完了</label>
    </footer>
  </section>
</div>